<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<h2>{{ title }}</h2>-->
<!--<button [disabled]="isLoading">Button</button>-->
<!--<hr />-->
<!--<h3>{{ textOne }}</h3>-->
<!--<input-->
<!--  type="text"-->
<!--  [value]="textOne"-->
<!--  (keydown.enter)="changeTextHandler($event)"-->
<!--/>-->
<!--<hr />-->
<!--<h3>{{ text }}</h3>-->
<!--<input [(ngModel)]="text" />-->
<!--<hr />-->
<!--<hr />-->
<inst-parent></inst-parent>
